/*
  STYLE GUIDE STYLING FOR PO3 --- Xiaohan Leng
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
	box-sizing: border-box;
}

body{
	
	background-color:#393e46;

}

h1{
	font-family:"Poppins";
	font-size: 36px;
	color:#41444b;
}

h2{
	font-family:"Poppins";
	color:#41444b;
	font-size:30px;

}

h2.process{
	font-family:"Poppins";
	color:#41444b;
	font-size:18px;

}

.processThin{
	font-family:"Poppins";
	color:#41444b;
	font-weight:100;
	font-size:18px;

}

.processThinWhite{
	font-family:"Poppins";
	color:white;
	font-weight:100;
	font-size:18px;

}

h3{
	font-family:"Poppins";
	color:#F8991E;
	font-size:24px;
}

h3.nameTitle{
	font-size:32px;
}

h3.serviceTitle{
	font-family:"Poppins";
	color:white;
	font-size:24px;

}

.introTitle{

	font-size:32px;
	align-self: left;
}

h4{
	font-family:"Poppins";
	color:#41444b;
	font-size:20px;

}

h5{
	font-family:"Poppins";
	color:#F8991E;
	font-size:16px;

}

h5.homepage-sub{
	font-family:"Poppins";
	color:#F8991E;
	font-size:16px;

}

p{
	font-family:"Poppins";
}

p.introP{
	font-family:"Poppins";
	color:white;
}

code{
	background-color:#646464;
	border-radius: 8px;
	padding:1rem;
	display:flex;
	color:#ffffff;

}

footer{

	background-color:#F8991E;
	width:100%;
	align-items: center;
	justify-content: space-around;
	display:flex;
	border-radius: 6px;
	padding:none;

}
a.footerhover:hover{

	color:white;
	font-size:18px;
	font-style: italic;



}
div.footerd{
	display:flex;
	justify-content: center;
	width:100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

span.highlight{
	color:#F8991E;
	font-weight:600;
}

.fillOrange{

	display:flex;
	width:100%;
	height:10vh;
	background-color: #F8991E;
	justify-content: center;
	border-radius: 0px;

}

.subTit{
	width:100%;
	display:flex;
	justify-content: center;
}


.Graphik{
  font-family: Graphik;
  font-weight: 600;
}

.introGraphik{
  font-family: Graphik;
  font-weight: 600;
  color:white;
}

.font-title{
	width:100%;
	display:flex;
	justify-content: center;

}

.half-title{
	width:50%;
	display:flex;
	justify-content: center;

}





.icon-container{
	width:60%;
	display:flex;
	justify-content: center;




}

.mag-col-1{
	
	padding-left:1rem;
	padding-right:1rem;
	width:50%;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color:white;
	border-radius: 16px;
}

.web-col-1{
	
	
	width:100%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color:white;
	border-radius: 16px;
}

.mag-col-2{
	
	padding-left:1rem;
	padding-right:1rem;
	width:30%;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	border:solid white;
	
	border-radius: 16px;
}

.img-con{
	margin:0.5rem;
	display:flex;
	width:100%;
	border: solid 4px #393e46;
	border-radius: 16px;
}

div.text-con{
	
	display:flex;
	flex-wrap: wrap;
	width:100%;
	justify-content: center;
	border-radius: 16px;
	border:dashed black;
}

.font-title-1{

	padding-left:1rem;
	padding-right:1rem;
	width:80%;
	display:flex;
	justify-content: center;
	background-color:white;
	border-radius: 16px;
}

.font-title-2{
	

	width:100%;
	
	display:flex;
	align-self: flex-start;

	


	
}

.p2-title{
	width:45%;
	display:flex;
	justify-content: center;
}

.light-grey {
	width:100%;
	height:25%;

  text-align:center;
  background-color: #666666;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color:rgb(255,255,255);
  font-weight:500;
  border-radius: 12px;

}
.grey {
  width:100%;
  height:25%;
  background-color:#41444b;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color:rgb(255,255,255);
  text-align:center;
  font-weight:500;
  border-radius: 12px;
 
  
}
.purple {
	width:100%;
	height:25%;
  background-color:#F8991E;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color:rgb(255,255,255);
  text-align:center;
  font-weight:500;
  border-radius: 12px;
 
  
}
.BluishV {
	border-radius: 12px;
	width:100%;
	height:25%;
  background-color:#f4f4f4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color:#41444b;
  text-align:center;
  font-weight:500;

  
}

h4.stepTitle{
	font-family: Graphik;
	font-size:32px;
}

div.headTitle{
	padding-top: 2rem;
	text-align: center;
	font-family:"Poppins";
}

div.element-container{

	display:flex;

	padding-right: 1.5rem;
	padding-left: 1.5rem;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 1rem;
	background-color: white; 
	border-radius: 18px;
	flex-direction:row;

}

div.website-container{
	
	width:45%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display:flex;
	justify-content: center;
	border: solid 4px #393e46;
	background-color: #393e46;

	border-radius: 16px;

}

div.website-container-1{
	
	width:45%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 1rem;


}

div.title-container{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #393e46;
	flex-direction:row;

}

div.element-col-1{
	padding-top: 1rem;
	width:28%;
	text-align:left;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
}

div.service-col-1{
	padding-top: 0rem;
	width:28%;
	text-align:left;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
	border-radius: 8px;
	border:solid 3px white;
		
}

div.project-col-1{
	width:45%;
	text-align:left;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
	border-radius: 16px;
	background-color: white;
	
	margin:1rem;
		
}

div.element-col-1-white{
	padding-top: 1rem;
	width:68%;
	height:50%;
	text-align:left;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;

}

div.element-col-1-white-img{
	padding-top: 1rem;
	width:28%;
	height:50%;
	text-align:left;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;

}
div.element-col-2{

	padding-top: 1rem;
	width:28%;
	text-align:center;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
}

div.element-col-3{

	padding-top: 1rem;
	width:60%;
	text-align:center;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
}

div.element-col-processA{

	padding-top: 1rem;
	width:50%;
	text-align:left;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
}

div.element-col-processB{

	
	width:25%;
	height:50%;
	
	text-align:left;
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
	
}

div.element-col-nav-2{
	width:28%;
	text-align:center;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
}

section.divider{
	padding-top: 1rem;
	padding-bottom: 1rem;
}


nav{
	display:flex;
	margin:0;
	padding:0;
	justify-content:space-around;

}

nav ul{
	list-style: none;
	justify-content:space-around;

}

nav li{

	display:inline-block;
	padding-bottom: 0rem;
	padding-right: 2.5rem;
	padding-left: 2.5rem;
	position:relative;
	font-weight:600;
	font-size: 20px;
	font-family: "Poppins";
	justify-content:space-around;
}

nav a{
	color:white;
	text-decoration: none;
  	text-transform: uppercase;
  	font-size : 20px;
}

nav a:hover{
	color:#F8991E;
}

nav a::before{
  content:'  ';
  display: block;
  height:5px;
  width: 0%;
  background-color:#F8991E;
  top:0;
  position : relative;
  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width:100%;
}

div.svg-space{
	display:flex;
	height:20%;
	padding-bottom: 20rem;
	justify-content: center;
}

div.padding{
	display:flex;
	width:100%;
	justify-content: center;
	padding-top: 1rem;
	padding-bottom: 1rem;

}

a {

  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-family:"Poppins";
  text-decoration: none;
  font-size: 16px;
  font-weight:600;
  color:#41444b;
}

a:hover{

  color:#F8991E;

}

a:focus{
  color:rgb(153,153,204); 
}

a.button-nav{

  border-radius: 18px;
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  width:100%;
  color: #41444b;
  background-color: #f8f1f1;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;

}

a.button-nav-back{

  border-radius: 25px;
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  width:100%;
  color: #41444b;
  background-color: white;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;

}

a.button-nav-back:hover, .button-nav-back:focus {
  background-color: #F8991E;
  color:white;
}

a.button-nav:hover, .button-nav:focus {
  background-color: #F8991E;
  color:white;
}

a.img-effect:hover{

	border: 3px 
	solid #F8991E;
	background-color: #F8991E;

}

 a>img.img:hover {

 	border-radius: 12px;

    border: 4px solid white;
 }


a.serviceLink{
	font-size: 20px;
	font-weight:900;
	color:white;

}

a.serviceLink:hover{

	color:#F8991E;
	font-style:italic;
	
}

.input-text{
	font-family:"Poppins";
	color:#F8991E;
	font-size:16px;
	font-weight: 600;
}

input:focus{
  display:flex;
  background-color: #F8991E;
  
}

input[type=text]{
  display:flex;
  border-radius: 18px;  
  transition: ease-in-out, width .35s ease-in-out;
}

input[type=text]:focus {
  display:flex;
 
}

input[type=text]:hover{
  display:flex;
  background-color: #F8991E;
 
}

.img{

	display:flex;
	width:100%;
	height:100%;
	justify-content: center;

}

.img-mag{

	display:flex;
	width:100%;
	height:40%;
	justify-content: center;

}
.icon-img{
	display:flex;
	width:100%;

	justify-content: center;

}

.posterimg{
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
}

.styimg{
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
}



ol.list{
	font-size:24px;
	font-family:"Poppins";
}

.mobile_menu {
     display: none;
 }


 @media only screen and (max-width: 700px) {
     div.main_nav {
         display: none;
     }
     .mobile_menu {
         display: flex;
         color:white;
     }
     /* mobile nav */
     .sidenav {
         height: 100%;
         width: 0;
         position: fixed;
         z-index: 1;
         top: 0;
         left: 0;
         background-color: white;
         overflow-x: hidden;
         transition: 0.5s;
         padding-top: 60px;
      
     }
     .sidenav a {
         font-family: 'Poppins', sans-serif;
         padding: 8px 8px 8px 32px;
         text-decoration: none;
         font-size: 25px;
         color: #818181;
         display: block;
         transition: 0.3s;
     }
     .sidenav a:hover {
         color: #F8991E;
     }
     .sidenav .closebtn {
         position: absolute;
         top: 0;
         right: 25px;
         font-size: 36px;
         margin-left: 50px;
     }
     #main {
         transition: margin-left .5s;
         padding: 16px;
     }
     #main>span{
        font-size:30px;
        cursor:pointer;
        font-family: 'Poppins', sans-serif;
     }
 }

@media screen and (max-width:1000px){

nav li{

  display: none;
  text-align:center;
  position:relative;
  font-weight: 600;
  justify-content: center;

	}
 div.element-container{

    flex-direction:column;
    width:100%;

    margin:auto;
 
 
    justify-content: space-around;
  }

 div.website-container{

 	width:98%;
  	flex-direction:row;

 }

 div.website-container-1{

 	width:98%;
  	flex-direction:row;

 }

 div.web-col-1{

 	width:100%;
  	flex-direction:row;

 }

 div.element-col-1{

  	width:100%;
  	flex-direction:row;
  	margin:1rem;


  }

   div.service-col-1{

  	width:100%;
  	flex-direction:row;
  	margin:0.5rem;

  }

    div.text-con{

  	width:100%;
  	flex-direction:row;
  	margin:1rem;

  }

    div.project-col-1{

  	width:100%;
  	flex-direction:row;
  	margin:1rem;


  }

   div.element-col-1-white{

  	width:94%;
  	flex-direction:row;

  }

  div.element-col-processA{
  	flex-direction:row;
  	width:98%;

 }

   div.element-col-processB{
  	flex-direction:row;
  	width:98%;

 }

 div.mag-col-1{

 	width:94%;
  	flex-direction:row;

 }

  div.mag-col-2{
  	margin:0.5rem;
  	width:94%;
  	flex-direction:row;
 	
 }






}

@media (min-width: 20rem){
	div.element-container{

    flex-direction:row;
    width:98%;
    margin:auto;
  }


 div.element-col-1{

  	flex-direction:row;
  	padding:0.5rem;
  	justify-content: center;
  	align-content: center;
  }
 
  div.element-col-processA{
  	flex-direction:row;

 }

.timeline {

  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding-left: 3rem;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0%;
}

.right {
  left: 50%;
}

.right::after {
  left: -16px;
}


.content {

  position: relative;
  display:flex;
  justify-content: center;
  border-radius: 6px;

}

@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

}

/*Animation */



:root {
	--delay: 3s;
	--duration: 3s;
	--iterations: 1;
}
/* •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */


.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	text-align: center;
	font-size: 9vw;
	padding-bottom: 10rem;
	animation-name: clip-text;
	color: #FFF;
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #f2f98b;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}


/*Animation */

section.animation-padding{
	display:flex;
	justify-content: center;
	align-items: center;
	padding-left: 1rem;

	width:100vw;
	height:40vh;
}

section.animation-padding-2{
	display:flex;
	justify-content: center;
	align-items: center;
	padding-left: 1rem;
	padding-bottom: 20rem;

	width:100vw;
	height:40vh;
}

svg {
  position: absolute;
  font-size: 6em;
  font-weight:800;
  font-family:"Poppins";
  letter-spacing: 0.1em;
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-left: 1%;

}

svg text {
  fill: white;
  stroke: white;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 3s ease-out;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    stroke-width: 3px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    stroke-width: 3px;
  }
  100% {
    stroke-width: 0;
  }
}


div.top-button{

	display:flex;
	width:20%;

	align-items: center;
	justify-content: center;


}

.back-to-top{

	display:flex;
	justify-content: center;
	align-items: center;


	width:100vw;
	height:20vh;

}
